p{
    color: yellow;
    font-size: 40px;
}
/* class : Una clase se manda a llamar de la siguiente manera:*/
.Parrafo{
    color: red;
}
/*ID : se manda a llamar de la siguiente manera: */
#texto{
    color: blue;
    font-size: 24px;
}